set -a

RAILS_ENV='{{RAILS_ENV}}'
DATABASE_NAME='{{DATABASE_NAME}}'
DATABASE_HOST='{{DATABASE_HOST}}'
DATABASE_PORT='{{DATABASE_PORT}}'
DATABASE_USER='{{DATABASE_USER}}'
DATABASE_PASS='{{DATABASE_PASS}}'
PG_DUMP_NAME='{{PG_DUMP_NAME}}'
PG_DUMP_HOST='{{PG_DUMP_HOST}}'
PG_DUMP_PORT='{{PG_DUMP_PORT}}'
PG_DUMP_USER='{{PG_DUMP_USER}}'
PG_DUMP_PASS='{{PG_DUMP_PASS}}'
VIGLINK_KEY='{{VIGLINK_KEY}}'
VIGLINK_SECRET='{{VIGLINK_SECRET}}'
MANDRILL_KEY='{{MANDRILL_KEY}}'
MANDRILL_KEY_WEBHOOKS='{{MANDRILL_KEY_WEBHOOKS}}'
AWS_DEFAULT_REGION='{{AWS_DEFAULT_REGION}}'
AWS_ACCESS_KEY_ID='{{AWS_ACCESS_KEY_ID}}'
AWS_SECRET_ACCESS_KEY='{{AWS_SECRET_ACCESS_KEY}}'
AWS_ASSET_BUCKET='{{AWS_ASSET_BUCKET}}'
AWS_BACKUP_BUCKET='{{AWS_BACKUP_BUCKET}}'
